# python 3.10

# the following downgrades are to install gym
setuptools==65.5.0
pip==21
wheel==0.38.0
# source: https://stackoverflow.com/questions/77124879/pip-extras-require-must-be-a-dictionary-whose-values-are-strings-or-lists-of